<div class="row">
    <div class="col-xs-12">
        <img 
        [src]="recipe.imagePath" alt="{{ recipe.name}}" 
        style="max-height: 200px;"
        class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name}}</h1>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="dropdown" appDropdown >
            <button 
                type="button" 
                class="btn btn-secondary dropdown-toggle"
                data-toggle = "dropdown"
                aria-haspopup="true" aria-expanded="false"
                >Manage Recipe
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Add ingredients </a></li>
                <li><a class="dropdown-item" href="#">Edit recipe </a></li>
                <li><a class="dropdown-item" href="#">Delete Recipe </a></li>
                
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>

